    // Primary

$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

    // Neutral

$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

$font-base: 'Spartan', sans-serif;  //weight 400 - 500 - 700

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/bg-pattern-top-mobile.svg') ,url('../images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 0%, 100%;
    font-family: $font-base;
    font-size: 15px;
}

.principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.empresa {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding: 4px;
    text-align: center;

    .cabecera {
        margin-bottom: 20px;
        
        .titulo {
            color: $very-dark-magenta;
            font-size: 2em;
            font-weight: 700;
            margin-bottom: 20px;
        }
        p {
            color: $dark-grayish-magenta;
        }
    }

    .resenias {
        margin-bottom: 2rem;

        .flex-rate {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 65px;
            border-radius: 0.5rem;
            overflow: hidden;
            margin-top: 15px;
            background-color: $light-grayish-magenta;

            .puntuacion {
                

                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                }
            }

            p {
                color: $very-dark-magenta;
                font-weight: 700;
                font-size: 14px;
            }
        }
    }
}

.testimonios {
    max-width: 350px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    .testimonio {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: $very-dark-magenta;
        border-radius: 0.9rem;
        overflow: hidden;
        padding: 30px;
        height: 240px;
        margin-bottom: 20px;

        .comprador-avatar {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 30px;

            img {
                height: 48px;
                border-radius: 50%;
                margin-right: 30px
            }
            h4 {
                color: $white;
                font-size: 0.8rem;
                font-weight: 500;
                line-height: 1.1rem;

                span {
                    color: $soft-pink;
                    font-size: 13px;
                    font-weight: 400;
                }
            }
        }

        p {
            color: $white;
            font-weight: 400;
            font-size: 14px;
        }
    }
}

/********** MEDIA QUERIES *********/
@media (min-width: 576px) {
    .principal {
        padding: 3rem;
    }
}

@media (min-width: 768px) {
    body {
        background-image: url('../images/bg-pattern-top-desktop.svg') ,url('../images/bg-pattern-bottom-desktop.svg');
        background-position-x: 0% , 100%;
    }
    .principal {
        // width: 700px;
        padding: 0;
    }

    .empresa {
        max-width: none;
        width: 700px;
        flex-direction: row;
        margin-top: 4rem;
        padding: 4px;
        text-align: start;

        .cabecera {
            margin-bottom: 0;
            width: 57%;
            
            .titulo {
                font-size: 2.3em;
                font-weight: 700;
                margin-bottom: 10px;
            }
            p {
                font-size: 13px;
                line-height: 1.3rem;
            }
        }
    
        .resenias {
            margin-bottom: 0;
            width: 43%;
            text-align: center;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: normal;

            .mt-0{
                margin-top: 0;
            }

            .flex-derecha {
                align-self: flex-end;
            }
            .flex-izquierda {
                align-self: flex-start;
            }
            .flex-centro {
                align-self: center;
            }
    
            .flex-rate {
                justify-content: space-evenly;
                height: 53px;
                width: 228px;
                margin-top: 10px;
    
                .puntuacion {
            
                    ul {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                    }
                }
                p {
                    font-weight: 700;
                    font-size: 12px;
                }
            }
        }
    }

    .testimonios {
        max-width: none;
        width: 700px;
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-between;


        .testimonio {
            border-radius: 0.7rem;
            padding: 20px;
            height: 220px;
            width: 225px;

            .comprador-avatar {
                margin-bottom: 20px;

                img {
                    height: 45px;
                    margin-right: 20px;
                }
                h4 {
                    font-size: 0.7rem;
                    line-height: 1rem;
    
                    span {
                        font-size: 12px;
                    }
                }
            }
            p {
                font-size: 12px;
            }
        }
    }

    
}

@media (min-width: 992px) {
    
    .empresa {
        max-width: none;
        width: 900px;
        padding: 0px;

        .cabecera {
            width: 47%;
            
            .titulo {
                font-size: 2.5em;
                margin-bottom: 10px;
            }
            p {
                font-size: 14px;
                line-height: 1.3rem;
            }
        }
    
        .resenias {
            margin-bottom: 0;
            width: 53%;
    
            .flex-rate {
                display: flex;
                flex-direction: row;
                justify-content: center;
                height: 50px;
                width: 380px;
                margin-top: 12px;
                align-items: center;
    
                p {
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
    }
    .testimonios {
        width: 900px;
        margin-top: 2rem;
        height: 270px;
        
        .flex-arriba {
            align-self: flex-start;
        }
        .flex-abajo {
            align-self: flex-end;
        }

        .flex-centro-y {
            align-self: center;
        }

        .testimonio {
            border-radius: 0.7rem;
            padding: 30px;
            height: 230px;
            width: 290px;

            .comprador-avatar {
                margin-bottom: 30px;

                img {
                    height: 48px;
                    margin-right: 30px;
                }
                h4 {
                    font-size: 0.8rem;
                    line-height: 1rem;
    
                    span {
                        font-size: 13px;
                    }
                }
            }
            p {
                font-size: 13px;
            }
        }
    }
}

@media (min-width: 1200px) {
    
    .empresa {
        width: 1130px;
        margin-top: 2rem;
        letter-spacing: -0.5px;
        justify-content: space-between;

        .cabecera {
            width: 40%;
            
            .titulo {
                font-size: 3em;
                margin-bottom: 10px;
            }
            p {
                font-size: 15px;
                line-height: 1.3rem;
                font-weight: 500;
            }
        }
    
        .resenias {
            width: 46%;
    
            .flex-rate {
                height: 55px;
                width: 430px;
                margin-top: 16px;
    
                p {
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
    }
    .testimonios {
        width: 1130px;
        margin-top: 2rem;
        height: 280px;
        
        .flex-arriba {
            align-self: flex-start;
        }
        .flex-abajo {
            align-self: flex-end;
        }

        .flex-centro-y {
            align-self: center;
        }

        .testimonio {
            border-radius: 0.5rem;
            height: 230px;
            width: 350px;

            .comprador-avatar {

                h4 {
                    font-size: 0.8rem;
                    line-height: 1.4rem;
                    font-weight: 700;
    
                    span {
                        font-size: 13px;
                        font-weight: 400;
                    }
                }
            }
            p {
                font-size: 13px;
                line-height: 1.3rem;
            }
        }
    }
}

@media (min-height: 652px) {
    body {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
    }
}


.star {
    list-style-image: url(../images/icon-star.svg); 
    // background-image: url(../images/icon-star.svg);
    // background-repeat: no-repeat;
    margin-left: 1.5rem;
    
}

// Estilos de frontend Mentor
.attribution {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.attribution a {
    color: $very-dark-magenta;
    // color: $soft-pink;
    font-weight: 700;
    text-decoration: none;
}